:root {
    --background-color: #ffffff;
    --main-text-color: #151515;
    --hero-background: #15300dc7;
    --link-color: blue;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: sans-serif, Arial, Helvetica;
    min-width: 300px;
}



header {
    display: flex;
    align-items: center;
    position: sticky;
    font-size: 1em;
    margin: 0 1.6em;

        .nav {
        display: flex;
        margin: 0 0 0 auto;

        .mobile-nav {

            .hamburger {
                border: none;
                background-color: inherit;
                cursor: pointer;
                font-weight: 900;
                
                &:hover, &:active{
                    color: blue;
                    transform: scale(1.2);
                    rotate: 90deg;
                    transition: .3s ease-in-out;
                }
            }
        
        }

        .desktop-nav{
            display: none;
        }
    }
}

main {
    padding: 1.6em;

    .hero-section {
        margin: 0 auto;
        
        .img-container {
        background-color: var(--hero-background);
        
            img {
                height: 200px;
                border-radius: 50%;
            }
        }
    }

    .welcome-para {
        font-size: 1.4em;
        text-align: justify;
    }
    
    .section-heading {
        margin: 2em 0;
        font-size: 2.5em;
        text-align: center;
    }

    .blog-articles {

        .article-title {
            font-size: 2rem;
        }

        .article-content {
            font-size: 1.5em;
        }
    }

    .more-btn, .less-btn {
        border: none;
        text-decoration: underline;
        color: var(--link-color);
        background-color: inherit;
        cursor: pointer;
    }
}